<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pengajuan Praktik Kerja Lapangan</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{url('css/index.css')}}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>
<body>
<style>.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="margin: 0px;position: fixed;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse container" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" style="    padding: 7px 0px;">
        <a  href="#" style="color: black;text-decoration: none;"><img src="{{url('img/smkn13.png')}}" alt="" style="height: 35px;">        Hubin SMKN 13 Bandung</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
                          <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black;">
                        <span class="glyphicon glyphicon-user"></span> 
                        <strong>{{Auth::user()->name}}</strong>

                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="navbar-login">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="text-center">
                                            <span class="glyphicon glyphicon-user icon-size"></span>
                                        </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="text-left"><strong>{{Auth::user()->name}}</strong></p>
                                        <p class="text-left small">{{Auth::user()->email}}</p>
                                        <p class="text-left">
                                            <a href="#" class="btn btn-primary btn-block btn-sm">Edit Profile</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <div class="navbar-login navbar-login-session">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p>
                                            <a href="{{ route('logout') }}" class="btn btn-danger btn-block" onclick="event.preventDefault();document.getElementById('logout-form').submit();"><i class="fa fa-power-off"></i> Logout</a>
                                              <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                                                  {{ csrf_field() }}
                                              </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
                        </ul>
  </div>
</nav>

lorem
<footer>
  <div class="footcontent" style="background-color: #fff;padding: 20px;">
    <center>HUBIN SMKN 13 BANDUNG - 2018</center>
  </div>
</footer>









<script>
// Set the date we're counting down to
var countDownDate = new Date("{{ date('F d,Y', strtotime($date)) }} {{ date('H:i:s', strtotime($hours)) }}").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("demo").innerHTML = days + " Hari : " + hours + " : "
  + minutes + " : " + seconds;

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>


<script>
  $('input[type="checkbox"]').on('change', function() {
    $(this).siblings('input[type="checkbox"]').not(this).prop('checked', false);
    searchBy();
  });
  function searchBy(){
    var tahun = '';
    var objek = '';
    var provinsi = '';
    $('.optTahun:checked').each(function(){
      tahun = $(this).val().toLowerCase();
    });
    $('.optObjek:checked').each(function(){
      objek = $(this).val().toLowerCase();
    });
    $('.optProvinsi:checked').each(function(){
      provinsi = $(this).val().toLowerCase();
    });
    $("#list_mitraPengamanan *").filter(function() {
      if(tahun == '' && objek == '' && provinsi == ''){
        $('.filter').show();
      }else {
        $(".filter").not('.'+tahun+objek+provinsi).hide();
        $('.filter').filter('.'+tahun+objek+provinsi).show();
      }
    });
  }
</script>
<script>
  $('.your-checkbox').prop('indeterminate', true)
</script>

</body>
</html>
